.places{
    position: relative;
    text-align: center;
}

.places h1{
    font-size: 30px;
    text-align: start;
    margin: 20px 10px 0;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
    
}

.places article h2{
    font-size: 30px;
    text-align: center;
}