.places{
   display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1{
    width: 100%;
    font-size: 30px;
    text-align: start;
    margin: 20px 10px 0;
}

.places article{
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places article h2{
    font-size: 30px;
    text-align: center;
}

.price_by_night{
    position: absolute;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    max-width: 80px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-top: -34px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    float: right;
    right: 20px;
    /* top: 20px; */
    /* bottom: 50px; */
}

.information{
    height: 80px;
    margin-top: 55px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: space-around;
}

.max_guest{
    width: 100px;
    height: 80px;
    background-image: url('../images/icon_group.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    text-align: center;
    line-height: 140px;
}

.number_rooms{
    width: 100px;
    height: 80px;
    background-image: url('../images/icon_bed.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    text-align: center;
    line-height: 140px;
}

.number_bathrooms{
    width: 100px;
    height: 80px;
    background-image: url('../images/icon_bath.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    text-align: center;
    line-height: 140px;
}

.user{
    margin-top: 10px;
    line-height: 3em;
}